.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.app.light {
  background: white;
  color: black;
}

.app.dark {
  background: black;
  color: white;
}


.toggle {
  display: flex;
  gap: 8px;
}

.hide {
  display: none;
}

.show {
  display: block;
}


.header {
  display: flex;
  justify-content: space-between;
  
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 64px;
  z-index: 1000;

  transition: transform 0.3s ease;
}

.header.visible {
  transform: translateY(0);
}

.header.hidden {
  transform: translateY(-100%);
}

