body {
  margin: 0;
  padding: 0;
}

.main-content {
  padding-top: 150px;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  box-sizing: border-box;

  font-size: 1.5rem;
}
